.titulo-azul
{
    color: blue;
}
section {
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
}
.box{
    width: 260px;
    height: 480px;
    background: white;
    border-radius: 7px;
    border: 2px solid white;
    box-shadow: 3px 3px 16px black;
}
img {
    width: 258px;
    height: 50vh;
}
.color{
    color: gray;
}